script(type="text/javascript", src="bower_components/angular/angular.js")
script(type="text/javascript", src="bower_components/angular-route/angular-route.js")

script(type="text/javascript", src="app/app.js")

script(type="text/javascript", src="app/services/leafly.js")
script(type="text/javascript", src="app/services/geolocation.js")
script(type="text/javascript", src="app/services/logger.js")

script(type="text/javascript", src="app/components/Search/searchController.js")
script(type="text/javascript", src="app/components/Store/storeController.js")
script(type="text/javascript", src="app/components/PopularStrain/popularStrainController.js")