.home-container {
}

.searchContainer {
	padding: 25px;
}
.searchContainer .searchInput {
	width: 250px; /* Todo: make size relative to font-size; */
	height: 25px;
}

.strainSelectors {
	width: 300px;
	margin: 0 auto;
	border: 1px solid black;
}
.strainSelectors li {
	float: left;
	width: 33%;
	border-right: 1px solid black;
}
.strainSelectors li:last-of-type {
	padding-right: 0;
	border-right: 0;
}

.strainList {
	clear: left;
}
.strainRating {
	width: 65px;
	height: 20px;
}

.strainExplorer {
}
.strainBox {
	min-height: 230px;
}

/* Spinner Code taken from: http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #30961B;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}