.home-exts {
    margin-left: 10%;
    margin-right: 10%;
}
.home-ext {
    float: left;
    width: 50%;
    overflow: hidden;
}
.home-exts:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.searchContainer {
	padding: 25px;
}
.searchContainer .searchInput {
	width: 250px; /* Todo: make size relative to font-size; */
	height: 25px;
}
.searchContainer .searchButton {
}