body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}
ul {
    list-style-type: none;
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.searchContainer {
    margin: 12px;
}
.storeContainer {

}
.storeHeader {
}
.storeMenu {
}
.storeLoading {

}
.storeNavigation {

}
.storePageInfo {
  margin: 10px;
}
.storeItem {
  margin-top: 2px;
}
#title {
    font-weight: bold;
    font-size: 24px;
}
#container {

}
#search {
    margin-bottom: 5px;
    width: 200px
}