body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
a {
  color: #00B7FF;
}
ul {
    list-style-type: none;
}
.bold {
    font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
#title {
    font-weight: bold;
    font-size: 24px;
}