<div ng-controller="StoreCtrl" class="storeContainer">
    <ul class="stores" ng-show="storeState.showStores">
        <li ng-repeat="store in storeState.stores">
        <span class="bold">{{ store.name }}</span>, {{ store.distanceAway.toFixed(2) }} miles away
        </li>
    </ul>
    <div ng-show="storeState.loading">
        Hold on a second, we are finding the dispensaries nearest you...
    </div>
    <button ng-show="currentPage > 0" ng-click="prev()">Prev</button>
    <button ng-show="currentPage + 1 < numPages" ng-click="next()">Next</button>
</div>